body {
    font-family: arial;
}

.container {
    border: 1px solid rgb(100, 98, 98);
    width: 50%;
    margin: 0 auto;
}


.post {
    padding: 1em;
}
.post h1 {
    
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.post p {
    text-align: center;
    font-size: 30px;
}

.cabecera {
    color: white;
    background-color: rgb(71, 70, 158);
    padding: 10px;
    display: flex;
}

.logo img {
    width: 50px;
    height:auto;
    margin-right: 10px; 
}

.slogan {
    display: flex;
    align-items: center;
}
.slogan span {
    font-size:25px;
    margin-left: 20px;
}

.logo {
    display: flex;
    justify-content: space-between;
}